html, body {
  background: #111;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
}

header {
  background: #111;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  transition: background .2s;
}

header .logo {
  font-family: "Righteous";
  font-size: 34px;
  color: #ddd;
}

header .logo .material-icons {
  position: relative;
  top: 5px;
  font-size: 34px;
}

header nav {
  float: right;
  margin: 12px 50px 0;
}

header nav a {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #ddd;
  text-decoration: none;
  padding: 24px;
}

header nav .social {
  float: right;
}

header nav .social .github {
  background: url("img/github.png") no-repeat center;
  cursor: pointer;
}

.jumbotron {
  position: fixed;
  width: 100%;
  margin-top: 120px;
  text-align: center;
  padding-bottom: 100px;
}

.jumbotron h1 {
  font-family: "Righteous";
  font-size: 160px;
  font-weight: 400;
  color: #ddd;
  margin: 20px;
}

.downloads {
  text-align: center;
}

.downloads button {
  position: relative;
  top: 0;
  background: #888;
  box-shadow: 0 5px 0 0 #555;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  font-family: "Ubuntu";
  font-size: 20px;
  transition: top .2s, background .2s, box-shadow .2s;
  cursor: pointer;
  outline: none;
}

.downloads button:hover {
  background: #ddd;
  box-shadow: 0 5px 0 0 #888;
}

.downloads button:active {
  top: 5px;
  box-shadow: 0 0 0 0;
}

.downloads a {
  color: #888;
  font-family: "Ubuntu";
  font-size: 15px;
  cursor: pointer;
}

.downloads a:hover {
  color: #ddd;
  text-decoration: underline;
}

section {
  position: relative;
  background: #ddd;
  text-align: center;
  padding: 20px 50px 50px 50px;
  font-family: "Ubuntu";
}

section h1 {
  font-size: "Ubuntu";
  font-size: 40px;
  font-weight: 400;
}

.about {
  margin-top: 45%;
  box-shadow: 20px 0 20px rgba(0,0,0,.5);
}

.about .intro {
  float: left;
  width: 50%;
  text-align: left;
  line-height: 20px;
}

.about .video {
  background: url("img/thumbnail.png");
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  float: right;
  height: 281px;
  width: 500px;
  font-family: "Ubuntu";
  line-height: 300px;
  margin-top: 50px;
  cursor: pointer;
}

.about .video .play {
  position: relative;
  top: 20px;
  font-size: 70px;
  color: #ddd;

  transform: scale(1);
  transition: transform .2s;
}

.about .video:hover > .play {
  transform: scale(1.25);
}

.version {
  background: #ccc;
}

.version ul {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
}

.version ul li {
  padding: 5px;
}

.footer {
  position: relative;
  background: #111;
  height: 20px;
  padding: 50px;
  font-family: "Ubuntu";
  color: #888;
  text-align: center;
}
