html, body {
  background: #ddd;
  margin: 0;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  -moz-filter: opacity(30%);
  -webkit-filter: opacity(30%);
  -o-filter: opacity(30%);
  -ms-filter: opacity(30%);
  filter: opacity(30%);
}

.background video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

@media only screen and (max-width: 600px) {
  .background video {
    left: -50%;
  }
}

@font-face {
    font-family: "Material-icons";
    src: url(fonts/MaterialIcons-Regular.ttf);
}
.material-icons {
    font-family: "Material-icons";
    font-style: normal;
    font-size: 24px;
}

/* Fonts */
@font-face {
    font-family: "Inconsolata";
    src: url(fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Monospaced";
    src: url(fonts/Monospace.ttf);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
}

header {
  background: #111;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: background .2s;
}

header .logo {
  font-family: "Righteous";
  font-size: 34px;
  color: #ddd;
  cursor: pointer;
}

header .logo .material-icons {
  position: relative;
  top: 5px;
  font-size: 34px;
}

header .nav {
  float: right;
  margin: 12px 50px 0;
}

header .nav a {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #ddd;
  text-decoration: none;
  padding: 24px;
  cursor: pointer;
}

header .nav .social {
  float: right;
}

header .nav .social .github {
  background: url("img/github.png") no-repeat center;
  cursor: pointer;
}

header .hamburger {
  display: none;
  color: #ddd;
  font-size: 34px;
  float: right;
  padding: 5px 50px 0;
  cursor: pointer;
}

header .float {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 160px;
  background: #111;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  border-radius: 5px;
  text-align: center;
  z-index: 4;

  display: none;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity .2s, transform .2s;
}

header .float:before {
    content: '';
    position: relative;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #111 transparent;
    display: block;
    width: 0;
    z-index: 3;
    top: -15px;
    left: 75%;
    margin-left: -15px;
}

header .float a {
  display: block;
  font-family: "Ubuntu";
  font-size: 15;
  color: #ddd;
  padding: 10px;
  text-decoration: none;
}

header .float a:hover {
  background: rgba(255,255,255,.1);
}

.jumbotron {
  position: fixed;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 100px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron h1 {
  font-family: "Righteous";
  font-size: 160px;
  font-weight: 400;
  color: #111;
  margin: 80px 0 0 0;
}

.jumbotron h2 {
  font-family: "Ubuntu";
  font-weight: 400;
  color: #333;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 25vw;
    margin: 100px 0 0 0;
  }
}

.downloadbtn {
  display: block;
  width: 250px;
  position: relative;
  top: 12vh;
  background: #111;
  color: #ddd;
  text-decoration: none;
  border: none;
  box-shadow: inset 0 0 0 5px #111;
  border-radius: 2px;
  padding: 40px;
  margin: 0 auto;
  font-family: "Ubuntu";
  font-size: 20px;
  transition: background .2s;
  cursor: pointer;
  outline: none;
  image-rendering: -moz-auto;
  image-rendering:   -o-auto;
  image-rendering: -webkit-auto;
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}

.downloadbtn .platforms {
  font-size: 12px;
  color: #555;
  display: block;
}

.downloadbtn:hover {
  background: #888;
}

.downloadbtn .inputport {
  position: absolute;
  height: 25px;
  top: 40%;
  left: 100%;
}

.downloadbtn .outputport {
  position: absolute;
  height: 25px;
  top: 40%;
  right: 100%;
}

@media only screen and (max-width: 600px) {
  .downloadbtn {
    padding: 20px;
    width: 50%;
    font-size: 16px;
  }

  .downloadbtn .inputport {
    height: 20px;
  }

  .downloadbtn .outputport {
    height: 20px;
  }
}

section {
  position: relative;
  background: #ddd;
  text-align: center;
  padding: 20px 50px 50px 50px;
  font-family: "Ubuntu";
}

section h1 {
  font-size: "Ubuntu";
  font-size: 40px;
  font-weight: 400;
}

.about {
  background: #fff;
  margin-top: 85vh;
  box-shadow: 20px 0 20px rgba(0,0,0,.5);
}

.about .info {
  width: 500px;
  line-height: 25px;
  text-align: left;
  margin: 30px 0;
  display: inline-block;
}

.about .info a {
  color: #888;
}

@media only screen and (max-width: 600px) {
  .about .info {
    width: 100%;
  }
}

.about .video {
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  height: 281px;
  width: 500px;
  font-family: "Ubuntu";
  line-height: 300px;
  cursor: pointer;
  display: inline-block;
}

.about .video iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .about .video {
    width: 100%;
  }
}

.gallery {
  background: #eee;
  image-rendering: -moz-auto;
  image-rendering:   -o-auto;
  image-rendering: -webkit-auto;
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}

.gallery img {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  transform: scale(1);
  -transition: opacity .2s, transform .5s;
  cursor: pointer;
}

.gallery img:not(.fullscreen):hover {
  opacity: .5;
}

.gallery .fullscreen {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 9;
  margin: 0;
}

.gallery .close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  margin: 50px;
  background: transparent;
  border: none;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  outline: none;

  transition: transform .2s;
}

@media only screen and (max-width: 600px) {
  .gallery img {
    margin: 0;
    width: 100%;
  }
  .gallery .close {
    margin-right: 20px;
  }
}

.gallery .close:hover {
  transform: rotateZ(90deg);
}

.downloads {
  background: #ccc;
  font-size: 15px;
}

.downloads button {
  margin: 10px;
  background: #111;
  border: none;
  border-radius: 5px;
  color: #ddd;
  font-family: "Ubuntu", Arial;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.downloads button:hover {
  background: #333;
}

.version ul {
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  padding: 0;
  list-style: none;
}

.version ul li {
  padding: 5px;
  text-align: center;
}

.boards {
  background: #ccc;
  line-height: 25px;
}

.boards a {
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  font-family: "Ubuntu";
  font-size: 15px;
  background: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .2s;
  color: #111;
  text-decoration: none;
}

.boards a:hover {
  background: #bbb;
}

.boards a .material-icons {
  float: left;
  color: #555;
}

.boards .school {
  max-width: 600px;
  margin: 0 auto;
}

.boards img {
  position: relative;
  left: -100px;
  width: 800px;
  margin: 20px auto;
  -box-shadow: 0 0 20px rgba(0,0,0,.25);
  transform: scale(1);
  -transition: opacity .2s, transform .5s;
  cursor: pointer;
  image-rendering: auto;
}

.boards img:not(.fullscreen):hover {
  opacity: .5;
}

.boards .fullscreen {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 9;
  margin: 0;
  background: #fff;
}

.boards .close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  margin: 50px;
  background: transparent;
  border: none;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  outline: none;

  transition: transform .2s;
}

@media only screen and (max-width: 600px) {
  .boards img {
    width: 100%;
    margin: 20px auto;
    left: 0;
  }
  .boards .close {
    margin-right: 20px;
  }
}

.boards .close:hover {
  transform: rotateZ(90deg);
}

.boards .video {
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  height: 281px;
  width: 500px;
  font-family: "Ubuntu";
  line-height: 300px;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

.boards iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .boards .video {
    width: 100%;
  }
}

.footer {
  position: relative;
  background: #111;
  height: 50px;
  padding: 50px;
  font-family: "Ubuntu";
  color: #888;
  text-align: center;
}

.visible-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0,0,0,.75);
}

.invisible-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
